
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='intro.css') }}">
    <title>ADD DATA</title>
</head>

<body>
    
    <header class="container">
        <div class="page-header">
            <div class="logo">
                <a style="color:#f9532d">KELOMPOK 4</a>
            </div>
            <input type="checkbox" id="click">

            <label for="click" class="mainicon">
                <div class="menu">
                    <i class='bx bx-menu'></i>
                </div>
            </label>
            <ul>
                <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('portofolio') }}">Portofolio</a></li>
                <li><a href="{{ url_for('add') }}">Add Data</a></li>
                <li><a href="{{ url_for('update') }}">Update Data</a></li>
                <li><a href="{{ url_for('delete') }}">Delete Data</a></li>
                <li><a href="{{ url_for('result') }}">Data Result</a></li>

            </ul>
            <label class="mode">
                <input type="checkbox" id="darkModeToggle">
                <i class='bx bxs-moon'></i>
            </label>
        </div>
    </header>

        <!--form-->
<div style="padding-top: 5%;text-align: center;">
  <h1 class="display-4">UPDATE DATA</h1>
  <center><hr style="color: #f9532d; background-color: #f9532d; height: 4px; border: none; width: 50%; margin-top: 50px; margin-bottom: 50px;"></center>
</div>
<div class="add-box">
 <form action="{{url_for('proses_update')}}" method="POST">
        <div class="form-group">
            <label>Nim</label>
            <input type="text" name="nim" class="form-control" placeholder="Masukkan Nim mahasiswa">
        </div>
        <div class="form-group">
        <label>New Nim</label>
            <input type="text" name="new_nim" class="form-control" placeholder="Masukkan Nim Baru">
            </div>
        <div class="form-group">
        <label>New Name</label>
            <input type="text" name="new_name" class="form-control" placeholder="Masukkan Nama Baru">
        </div>
        <div class="form-group">
        <label>New Kelas</label>
            <input type="text" name="new_kelas" class="form-control" placeholder="Masukkan Kelas Baru">
        </div>
        <div class="form-group">
        <label>New Prodi</label>
            <input type="text" name="new_prodi" class="form-control" placeholder="Masukkan Prodi Baru">
        </div>
        <div style="margin-left: 74%;">
            <button type="reset" class="btn btn-default mr-1"> Cancel </button>
            <button type="submit" class="btn" style="background-color: #000000; color: white;"> Submit </button>
        </div>
    </form>
  </div>
    
    <script>
        const darkModeToggle = document.getElementById('darkModeToggle');
        const body = document.body;
        const isDarkMode = localStorage.getItem('darkMode') === 'enabled';
        if (isDarkMode) {
            body.classList.add('dark-mode');
            darkModeToggle.checked = true;
        }
        darkModeToggle.addEventListener('change', () => {
            if (darkModeToggle.checked) {
                body.classList.add('dark-mode');
                localStorage.setItem('darkMode', 'enabled');
            } else {
                body.classList.remove('dark-mode');
                localStorage.setItem('darkMode', 'disabled');
            }
        });
    </script>
    
</body>

</html>